<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>azure-maven</id>
      <username>SX00562018</username>
      <password>ufffkc45twaomvcvgkhzn4nw7wdxgpgsthlvd2jojc5k4g55tnra</password>
    </server>
  </servers>
</settings>

